:root {
    font: 16px / 1 sans-serif;
  }



html {
    height:100%;
    

}

header { 

    text-align:center;
    font-size:30px;
}

body > main {

    border: 20px dashed black;
    background-color:rgb(126, 33, 33);
    max-width: 1080px;
    margin: 1rem;
    font-size:22px;

}


.center {

    display: block;
    margin-left: center;
    margin-right: center;
    width: 50%;
}
.fashion {
    color:rgb(207, 162, 162)


}

.sublink {
    color:rgb(207, 162, 162);

}

.container{
    display: flex;
    justify-content: center;
  }